{% extends "shop/base.html" %}
{% block content %}
  <h1>محصولات</h1>
  <table class="table">
    <tr>
      <th>نام</th>
      <td>{{ object.name }}</td>
    </tr>
    <tr>
      <th>عکس</th>
      <td>
        {% for image in object.productimage_set.all %}
          <img src="{{ image.thumbnail.url }}" alt="cover"/>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th>فیمت</th>
      <td>{{ object.price }}</td>
    </tr>
    <tr>
      <th>توضیحات</th>
      <td>{{ object.description|linebreaks }}</td>
    </tr>
    <tr>
      <th>تگ ها</th>
       <td>{{ object.tags.all|join:","|default:"No tags
available" }}</td>
    </tr>
    <tr>
      <th>اپدیت در</th>
      <td>{{ object.date_updated|date:"F Y" }}</td>
    </tr>
  </table>
   <a href="{% url "add_to_basket" %}?product_id={{ object.id }}">
اضافه به سبد خرید </a>
{% endblock content %}